#############################################
###   Allow only essential project files  ###
#############################################

!pom.xml
!testng.xml
!mvnw
!mvnw.bat
!allure-wrapper.bat
!src/
!src/**

#############################################
###   Ignore everything else by default   ###
#############################################

*

#############################################
###           Ignore IDE Configs          ###
#############################################

.idea/
*.iml
*.ipr
*.iws
out/
.classpath
.project
.settings/
.vscode/

#############################################
###         Build and Temp Files          ###
#############################################

target/
build/
*.class
*.log
*.tmp
*.bak
*.swp
*.orig

#############################################
###    Ignore Test coverage / cache       ###
#############################################

coverage/
.cache/
jacoco.exec

#############################################
###         Ignore Allure Reports         ###
#############################################

allure-results/
allure-report/
allure-history/
.history/

#############################################
###            Ignore Docker              ###
#############################################

.docker/
*.dockerfile
docker-compose*
.env
.env.*

#############################################
###          Ignore CI/CD tools           ###
#############################################

.github/
.pipeline/
*.jenkinsfile
*.groovy

#############################################
###        Ignore OS System Files         ###
#############################################

.DS_Store
Thumbs.db
